<% provide :title, t("users.new.title") %>
<h1><%= t "users.new.title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name, t("users.new.name") %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email, t("users.new.email") %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password, t("users.new.pass") %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, t("users.new.confirm") %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= f.submit t("users.new.content"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
