<footer class="footer">
  <small>
    <%= t "layouts.footer.content" %>
    <a href="http://www.railstutorial.org/">
    <%= t "layouts.footer.content1" %></a>
    <%= t "layouts.footer.content2" %>
    <a href="http://www.michaelhartl.com/">
    <%= t "layouts.footer.content3" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts.footer.content5"), about_path %></li>
      <li><%= link_to t("layouts.footer.content6"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/">
      <%= t "layouts.footer.content4" %></a></li>
    </ul>
  </nav>
</footer>
